// Specific CSS for your home-page
.new-memory-form {
	flex: 2;
	background-color: $dark;
	padding: 30px;
	position: sticky;
	color: $gray;
	h1 {
		color: $gray;
	}
	border-left: 0.5px solid $gray;
}

.memory-index {
	flex: 6;
	margin: 30px;
	h1 {
		color: $gray;
	}
}
